:root {
  --border-color: #ebecef;

  /* sidebar */
  --sidebar-bg: #fff;
  --sidebar-color: #333;
  --sidebar-hover-color: #f9f9fb;
  --sidebar-active-border: rgb(69, 105, 212);
  --sidebar-active-bg: #f2f2f5;

  /* text */
  --text-color: #333;

  /* footer */
  --footer-background: #f7f8fa;

  /* dashboard */
  --dashboard-header-bg: #23242e;
  --dashboard-header--title: #fff;
  --dashboard-bg: #fff;

  /* card */
  --card-bg: #f7f8fa;
  --card-border-color: #f7f8fa;
  --card-hover-color: rgba(0, 0, 0, 0.15);

  /* my-filter */
  --filter-color: #333;
  --filter-active-bg: rgb(69, 105, 212);
  --filter-active-color: #fff;

  /* block item */
  --block-item-bg: #f7f8fa;
  --block-item-border: 1px solid #f7f8fa;
  --block-item-name: #4e5969;
  --block-item-desc: #86909c;

  /* project item */
  --project-item-bg: #f7f8fa;
  --project-item-border: 1px solid #f7f8fa;
  --project-item-name: #4e5969;
  --project-item-desc: #86909c;
}
