:root {
  --body-bg: #23242e;

  /* sidebar */
  --sidebar-bg: #30313d;
  --sidebar-color: #fff;
  --sidebar-active: #3a3a46;

  /* text */
  --text-color: #fff;

  /* footer */
  --footer-background: #30313d;

  /* dashboard */
  --dashboard-header-bg: #23242e;
  --dashboard-header--title: #fff;
  --dashboard-bg: #fff;

  /* card */
  --card-bg: #30313d;
  --card-border-color: #30313d;
  --card-hover-color: rgba(0, 0, 0, 0.15);

  /* my-filter */
  --filter-color: #fff;
  --filter-active-bg: #00b259;
  --filter-active-color: #fff;

  /* block item */
  --block-item-bg: #30313d;
  --block-item-border: 1px solid #30313d;
  --block-item-name: #fff;
  --block-item-desc: rgba(255, 255, 255, 0.5);

  /* project item */
  --project-item-bg: #30313d;
  --project-item-border: 1px solid #30313d;
  --project-item-name: #fff;
  --project-item-desc: rgba(255, 255, 255, 0.5);
}
